@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome to Mykea</h1>

<ul>
    @for (int i = 0; i < (int)ViewData["RepeatNumber"]; i++)
    {
        <li>@ViewData["Department"]</li>
    }
</ul>
